/* Stop zooming on iOS devices */
body {
    touch-action: manipulation;
}

/* Background remote control color thus button color */
body, button {
    background-color: #424242;

    /* Disable selection */
    -webkit-user-select: none;
    /* Disable highlighting */
    -webkit-tap-highlight-color: transparent;
    /* Disable callouts */
    -webkit-touch-callout: none;
}

.red-button {
    color: tomato;
}

.version {
    border: none;
}

/* Button text color */
span {
    color: white;
}

/*  Little height delimiter between buttons */
.delimiterSmall {
    height: 5px;
}

/* Medium height delimiter between buttons */
.delimiterMedium {
    height: 15px;
}

/* Buttons line height */
.row {
    height: 40px;
}

/* Button height */
button {
    height: 80%;
}

/* Button width inside a div tag */
.full {
    width: 100%;
}

/* Button display properties */
.button {
    padding-left: 2px;
    padding-right: 2px;
}

